
<!DOCTYPE html>
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Note there is no responsive meta tag here -->

    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    {% block title %}<title>Bootstrap</title>{% endblock %}  
    {% load static from staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/non-responsive.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    

    
    <!-- The styles -->
    <link id="bs-css" href="{% static 'css/bootstrap-cerulean.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/charisma-app.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/fullcalendar/dist/fullcalendar.css' %}" rel='stylesheet'>
    <link href="{% static 'bower_components/fullcalendar/dist/fullcalendar.print.css' %}" rel='stylesheet' media='print'>
    <link href="{% static 'bower_components/chosen/chosen.min.css' %}" rel='stylesheet'>
    <link href="{% static 'bower_components/colorbox/example3/colorbox.css' %}" rel='stylesheet'>
    <link href="{% static 'bower_components/responsive-tables/responsive-tables.css' %}" rel='stylesheet'>
    <link href="{% static 'bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' %}" rel='stylesheet'>
    <link href="{% static 'css/jquery.noty.css' %}" rel='stylesheet'>
    <link href="{% static 'css/noty_theme_default.css' %}" rel='stylesheet'>
    <link href="{% static 'css/elfinder.min.css' %}" rel='stylesheet'>
    <link href="{% static 'css/elfinder.theme.css' %}" rel='stylesheet'>
    <link href="{% static 'css/jquery.iphone.toggle.css' %}" rel='stylesheet'>
    <link href="{% static 'css/uploadify.css' %}" rel='stylesheet'>
    <link href="{% static 'css/animate.min.css' %}" rel='stylesheet'>

    <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/jquery.min.js' %}"></script>
    
    {% block staticcss %} 
    {% endblock %}

  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
    

         <!-- theme selector starts -->
         <div class="btn-group pull-right theme-container animated tada">
             <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                 <i class="glyphicon glyphicon-tint"></i><span
                     class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                 <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" id="themes">
                 <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                 <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                 <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                 <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                 <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                 <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                 <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                 <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                 <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
             </ul>
         </div>
         <!-- theme selector ends -->    

      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">运维自动化平台</a>
        </div>
        <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
        


        <div id="navbar">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="/assets/#asset">资产管理</a></li> -->
            <li><a href="/assets/#asset">资产管理</a></li>
            <li><a href="/config/#config">配置管理</a></li>
            <li><a href="/#machine">装机管理</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/monitor/#monitor">监控展示</a></li>
                <li><a href="/#version">版本发布</a></li>
                <li><a href="/bbs/#blog">博客管理</a></li>
                <li><a href="/admin/#admin">后台管理</a></li>
                <!-- <li><a href="/manager/#manager">站点管理</a></li> -->
                <li><a href="/online/#online">上下线系统</a></li>
                <li><a href="/author/#about">关于我</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="search" action="{% url 'assets:search' %}" method='GET'>
            <div class="form-group">
              <input class="form-control" placeholder="Search" name="search" id="search" type="text">
            </div>
            <button type="submit" class="btn btn-default">查询</button>
          </form>
          

            
            {% if user.is_authenticated %}
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{user}} <span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="/author#content">个人中心</a></li>
	                <li><a href="#setting">账号设置</a></li>
	                <li><a href="/logout/#safelogout">安全退出</a></li>
	                <li role="separator" class="divider"></li>
	              </ul>
	            </li>
	         {% else %}
	            <li><a href="#">用户注册</a></li>
	            <li><a href="/login">用户登录 {{user}} </a></li>
	         {% endif %}
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="page-header">
      
      {% block content-page %}
      
        <p class="lead">
        <a href="#">Bootstrap</a></p>
      </div>
      
	  {% endblock %}
    <footer class="row">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="https://github.com/schangech" target="_blank">
                Company</a> 2012 - 2015</p>

        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a
                href="http://weibo.com/schangech/">schangech</a></p>
    </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    
    
	<!-- external javascript -->
	
	<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<!-- library for cookie management -->
	<script src="/static/js/jquery.cookie.js"></script>
	<!-- calender plugin -->
	<script src='/static/bower_components/moment/min/moment.min.js'></script>
	<script src='/static/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
	<!-- data table plugin -->
	<script src='/static/js/jquery.dataTables.min.js'></script>
	
	<!-- select or dropdown enhancer -->
	<script src="/static/bower_components/chosen/chosen.jquery.min.js"></script>
	<!-- plugin for gallery image view -->
	<script src="/static/bower_components/colorbox/jquery.colorbox-min.js"></script>
	<!-- notification plugin -->
	<script src="/static/js/jquery.noty.js"></script>
	<!-- library for making tables responsive -->
	<script src="/static/bower_components/responsive-tables/responsive-tables.js"></script>
	<!-- tour plugin -->
	<script src="/static/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
	<!-- star rating plugin -->
	<script src="/static/js/jquery.raty.min.js"></script>
	<!-- for iOS style toggle switch -->
	<script src="/static/js/jquery.iphone.toggle.js"></script>
	<!-- autogrowing textarea plugin -->
	<script src="/static/js/jquery.autogrow-textarea.js"></script>
	<!-- multiple file upload plugin -->
	<script src="/static/js/jquery.uploadify-3.1.min.js"></script>
	<!-- history.js for cross-browser state change on ajax -->
	<script src="/static/js/jquery.history.js"></script>
	<!-- application script for Charisma demo -->
	<script src="/static/js/charisma.js"></script>
    {% block staticjs %} 
    {% endblock %}
  

</body></html>