{% extends "base.html" %}  

{% block title %}<title>Dashboard</title>{% endblock %}  


    {% block staticcss %} 
    <!-- Custom styles for this template -->
    <link href="Jumbotron%20Template%20for%20Bootstrap_files/jumbotron.css" rel="stylesheet">
    {% endblock %}
    
      {% block content-page %}

   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hi ! {{user}}</h1>
        <p>{{ perms.bbs }} # {{ perms.bbs.can_vote }} This is a template for a simple marketing or informational 
website. </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>添加博客</h2>
          <p>添加博客 </p>
          <p><a class="btn btn-default" href="/bbs/add/" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>管理博客</h2>
          <p>管理博客 </p>
          <p><a class="btn btn-default" href="/bbs/list/" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>博客检索</h2>
          <p>博客检索</p>
          <p><a class="btn btn-default" href="/bbs/search/" role="button">View details »</a></p>
        </div>
        
        <div class="col-md-4">
          <h2>添加主机</h2>
          <p>添加主机</p>
          <p><a class="btn btn-default" href="{% url 'assets:add' %}" role="button">View details »</a></p>
        </div>
      </div>

      <hr>


    </div> <!-- /container -->
      
      {% endblock %}